body{
    background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% ) !important;
}

.card-button-container {
    padding: 5%;
}

.scrolling {
    scroll-margin-top: 85px;
}

.card-text {
    max-height: 100px;
    overflow-y: auto;
}

.card-container {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.card {
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.card img {
    transition: transform 0.5s;
}

.card img:hover {
    transform: rotateY(180deg) scaleX(-1);
}

.u-h3 {
    --s: 0.1em;
    /* the thickness of the line */
    --c: #007bff;
    /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.u-nav {
    --s: 0.1em;
    /* the thickness of the line */
    --c: #FFA500;
    /* the color */

    color: #fff;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #fff 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.u-h3:hover {
    --_p: 100%;
}

.u-h3{
    cursor: pointer;
}

.u-nav:hover {
    --_p: 100%;
    color: #0000;
}

.u-nav{
    cursor: pointer;
}
